In [9]:
import pandas as pd

In [10]:
df = pd.read_csv ('categorical.csv')
df

             name   Longitude   Latitude      continent
0           Aruba  -69.982677  12.520880  North America
1     Afghanistan   66.004734  33.835231           Asia
2          Angola   17.537368 -12.293361         Africa
3        Anguilla  -63.064989  18.223959  North America
4         Albania   20.049834  41.142450         Europe
..            ...         ...        ...            ...
236         Samoa -172.164851 -13.753243        Oceania
237         Yemen   47.586762  15.909280           Asia
238  South Africa   25.083901 -29.000341         Africa
239        Zambia   27.774759 -13.458242         Africa
240      Zimbabwe   29.851441 -19.004204         Africa

[241 rows x 4 columns]

In [18]:
# Get the counts of each category
continents = df['continent']
continent_counts = continents.value_counts()
continent_counts

Africa           54
Asia             53
Europe           50
North America    38
Oceania          24
Other            22
Name: continent, dtype: int64

In [19]:
# Create a mask for only categories that occur less than 10 times
mask = continents.isin(continent_counts[continent_counts < 15].index)

# Label all other categories as Other
continents[mask] = 'Other'

# Print the updated category counts
print(pd.value_counts(continents))

Africa           54
Asia             53
Europe           50
North America    38
Oceania          24
Other            22
Name: continent, dtype: int64